#add-train {
    background-color: orange;
    color: black;
    width: 100%;
    align-items: center;
}


#footer {
    width: 100%;
    background-color: skyblue;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#clock {
    text-align: center;
}

#navLinks {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

a {
    padding: 10px;
}

.card-header {
    background-color: skyblue;
}

.jumbotron {
    font-family: 'Faster One', cursive;
    text-align: center;
    font-size: 80px;
    color: orange;
    background-color: skyblue;
    text-shadow: -1px -1px 0 blue,
        1px -1px 0 blue,
        -1px 1px 0 blue,
        1px 1px 0 blue;








    /* font-family: 'Prosto One', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Faster One', cursive;
font-family: 'Pattaya', sans-serif; */